@tailwind base;
@tailwind components;
@tailwind utilities;

body,
div,
html {
  font-family: "Be Vietnam Pro" !important;
}

h1,
h2,
h3,
h4,
h5,
p,
h6 {
  font-family: "Be Vietnam Pro" !important;
}

.container-ack {
  max-width: 1150px;
  margin: auto;
}

/* navbar */

.header {
  background-color: white;
  /* position: fixed; */
  width: 100%;
  top: 100px;
  left: 0;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: visible;
}
.header-home {
  z-index: 999;
}
.header-bg {
  background-color: #2544ee;
  z-index: 99;
}

.header .navbar {
  z-index: 1;
  max-width: 1150px;
  margin: auto;
  height: 100%;
}

.textclass {
  font-size: 0.8rem !important;
}

.mobile-text {
  font-size: 1rem;
}

.nav-font {
  font-size: 16px;
}

.desk {
  font-size: 1rem;
}

.header .navbar img {
  width: 200px;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    background-color: white;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in;
    overflow: visible;
    padding: 5px 5px;
  }

  .header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header .navbar img {
    width: 130px;
    height: auto;
  }
}

.header .nav-menu {
  display: flex;
  padding-bottom: 5px;
}

.header .nav-item {
  padding: 0.6rem;
}

.hamburger {
  display: none;
}

.dropdown-menu {
  visibility: visible;
}

.dropdown-mobile {
  display: none;
}

@media screen and (max-width: 940px) {
  .nav-item a {
    color: #fff;
  }

  .header {
    max-width: 100%;
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    z-index: 999;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
    top: 56px;
  }

  .nav-desk {
    margin: 1.5rem 0;
  }

  .dropdown-menu {
    visibility: hidden;
  }

  .dropdown-mobile {
    display: none;
  }
}

/* navbar end */

.texttransparent {
  text-shadow: -1px -1px 0 #0d0d0d38, 1px -1px 0 #0d0d0d38, -1px 1px 0 #0d0d0d38,
    1px 1px 0 #0d0d0d38;
}

/* cards leader */

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card {
  background: #f6f8f9;
  cursor: default;
  height: 320px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 6px;
}

.card p {
  margin-bottom: 2px;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  width: 100%;
  border-radius: 6px;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY(180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #d9d9d9;
}

.cardBox:nth-child(3) .card .back {
  background: #d9d9d9;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 310px;
  }
}

.cardBox2:hover .card2 {
  transform: rotateY(180deg);
}

.card2 {
  background: #d9d9d9;
  cursor: default;
  height: 320px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 6px;
}

.card2 p {
  margin-bottom: 2px;
}

.card2 .front,
.card2 .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  width: 100%;
  border-radius: 6px;
  padding: 0 15px;
}

.card2 .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card2 .back {
  transform: rotateY(180deg);
}

.card2 .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card2 .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox2:nth-child(1) .card2 .back {
  background: #f6f8f9;
}
.cardBox2:nth-child(2) .card2 .back {
  background: #f6f8f9;
}

.cardBox2:nth-child(2) .card2 {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox2 {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card2 {
    height: 285px;
  }
  .cardBox22:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox2 {
    width: 94.5%;
  }
  .card2 {
    height: 310px;
  }
}

/* cards end */

.svgimg {
  fill: #090909;
}

.svgimg:hover {
  fill: #ffbf00;
}

/* Career Pages  */

.psAbsolute {
  width: 100%;
  text-align: center;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
}

.HdingAboutMeDta {
  position: relative;
  display: block;
  margin: 0 auto;
}



.HdingAboutMeDta p {
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

.container-custom {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.TopCarerBnr {
  position: relative;
  display: block;
  margin-top: 30px;
}

.whyJoinUsHeading {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whyJoinUsHeading .psAbsolute {
  width: 100%;
  top: 36%;
  text-align: left;
  position: absolute;
  font-weight: 800;
  margin-left: 10px;
  transform: translate(-50%, 10px);
  font-size: 28px;
  line-height: 1;
}

.txthding {
  width: 44%;
  font-size: 16px;
  font-weight: 400;
}

.whyJoinUs {
  margin-top: 40px;
}

.whyJoinUs .col4WhyJon {
  width: 32%;
  position: relative;
  padding: 25px;
  border: 1px solid #d2d2d2;
  box-shadow: 0px 4px 100px 0px #afadb51a;
  filter: drop-shadow(0px 4px 100px rgba(175, 173, 181, 0.1));
  border-radius: 20px;
  background-color: #fff;
  transition: all 1s ease;
}

.whyJoinUs .col4WhyJon:hover {
  background-color: #f6f8f9;
}
.whyJoinUs .col4WhyJon:hover .Icon {
  background-color: #fff;
}

.whyJoinUs .col4WhyJon .Icon {
  width: 60px;
  height: 60px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 1s ease;
}

.CntWhyJoinUs {
  width: 100%;
  display: block;
  position: relative;
}

.CntWhyJoinUs h5 {
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
  margin-bottom: 8px;
}

.CntWhyJoinUs p {
  font-size: 0.9em;
  color: #afadb5;
  font-weight: 300;
  line-height: 1.6em;
}

.OnlyShow {
  width: 100%;
  position: relative;
}

.OnlyShow li {
  position: relative;
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;
}

.OnlyShow li:before {
  top: 3px;
  left: 0px;
  width: 12px;
  height: 12px;
  background-color: #000;
  content: "";
  position: absolute;
  border-radius: 2px;
}

.OnlyShow li span {
  display: block;
  font-weight: 600;
  color: #000;
  font-size: 16px;
  margin-bottom: 8px;
}

.OnlyShow li {
  font-size: 14px;
  color: #ababab;
  line-height: 1.3em;
}

.OnlyShow li:nth-child(odd):before {
  background-color: #f7ce46;
}

.DtaUnline {
  margin-top: 20px;
}

.DtaUnline li {
  margin-bottom: 10px;
  position: relative;
  font-size: 14px;
  color: #ababab;
  padding-left: 55px;
}

.DtaUnline li:before {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 38px;
  transform: translate(0px, -50%);
  content: "";
  height: 8px;
  background-color: #000;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.DtaUnline li:nth-child(odd):before {
  background-color: #f7ce46;
}

.HdingAboutMeDta.Profolio {
  width: 60%;
}
.HdingAboutMeDta.Profolio p {
  color: #061c3d;
  opacity: 0.5;
}

.TopTabing {
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.TopTabing ul {
  margin-top: 25px;
  background-color: #ffffff;
  padding: 5px;
  border: 1.19633px solid rgba(210, 210, 210, 0.5);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.TopTabing ul li {
  font-size: 14px;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 5px;
}

/* Portfolio */

.PortifloClum {
  margin-top: 40px;
  position: relative;
  width: 100%;
}

.Protfolicol-12 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.Protfolicol-12 .col4RptProfolio {
  position: relative;
  width: 32%;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #d2d2d280;
  overflow: hidden;
}

.Protfolicol-12 .col4RptProfolio:hover .BacimgDtls img {
  top: -768%;
}

/* .Protfolicol-12 .col4RptProfolio */

.col4RptProfolio .BacimgDtls {
  width: 100%;
  position: relative;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.col4RptProfolio .BacimgDtls img {
  border-radius: 5px;
  top: 0px;
  width: 100%;
  position: absolute;
  transition: all 8s ease;
}

.col4RptProfolio .BxShow {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(0 0 0 / 35%);
  transition: all 1s ease;
}

.Protfolicol-12 .col4RptProfolio:hover .BxShow {
  opacity: 1;
  visibility: visible;
}

.BxMnvrSwn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.BxMnvrSwn h5 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.BxMnvrSwn a {
  font-size: 14px;
}

/* Home Page Slider */

.HomePageSlider {
  position: relative;
  display: block;
  padding-bottom: 80px;
  overflow: hidden;
}

.HomePageSlider .slick-list .slick-slide .SldrImgDta .relative.text-center img {
  transform: scale(0.9);
  transition: all 1s ease;
}

.HomePageSlider
  .slick-list
  .slick-slide.slick-active
  .SldrImgDta
  .relative.text-center
  img {
  transform: scale(1);
}


@media only screen and (min-width: 320px) and (max-width: 480px){ 
  .psAbsolute{
    width: 100%;
  text-align: center;
  top: 33%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  }

  .whyJoinUsHeading{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .txthding{
    width: 100%;
  }
  .whyJoinUs .col4WhyJon{
    width: 100%;
    margin-top: 16px;
  }

  .Protfolicol-12{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }

  .Protfolicol-12 .col4RptProfolio{
    width: 100%;
    margin-top: 30px;
  }
  .HdingAboutMeDta.Profolio{
    width: 100%;
  }
 }


/* About Slider Section */

.AboutSliderSection {
  position: relative;
}

.AboutSliderSection .slick-slide.slick-current .SldrDtaAbout {
  height: 500px;
}

.SldrDtaAbout {
  position: relative;
  display: block;
  height: 400px;
  transition: all 1s ease;
}

.SldrDtaAbout .px-2 {
  height: 100%;
}

.SldrDtaAbout .px-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MemoriesSlider .slick-slide {
  width: 400px;
  height: 400px !important;
  transition: transform 0.4s;
  position: relative;
  transform: scale(0.7) translate(640px);
}

@media only screen and (min-width: 320px) and (max-width: 480px){  

  .HdingAboutMeDta {
    width: 100%;
    position: relative;
    display: block;
    margin: 0 auto;
  }
 }

