@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

body{
  font-family: 'DM Sans', sans-serif;
}

.container-ack{
  max-width: 1150px;
  margin: auto;
}


/* navbar */

.header {
  background-color: white;
  /* position: fixed; */
  width: 100%;
  top: 100px;
  left: 0;
  z-index: 1;
  transition: .3s ease-in;
  overflow: visible;
}
.header-home{
  z-index: 999;
}
.header-bg {
  background-color: #2544EE;
  z-index: 99;
}

.header .navbar {
  z-index: 1;
  max-width: 1150px;
  margin: auto;
  height: 100%;
}

.textclass {
  font-size: 0.8rem !important;
}

.mobile-text {
  font-size: 1rem;
}



.nav-font {
  font-size: 16px;
}

.desk {
  font-size: 1rem;
}


.header .navbar img {
  width: 200px;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 480px){  

  .header {
    background-color: white;
    width: 100%;
    top: 0px;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: visible;
    padding: 5px 5px;
  }


  .header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .header .navbar img {
    width: 130px;
    height: auto;
  }
 }

.header .nav-menu {
  display: flex;
  padding-bottom: 5px;

}

.header .nav-item {
  padding: 0.6rem;
}


.hamburger {
  display: none;
}

.dropdown-menu {
  visibility: visible;
}

.dropdown-mobile {
  display: none;
}

@media screen and (max-width:940px) {
  .nav-item a {
      color: #fff;
  }

  .header {
      max-width: 100%;
  }

  .header .navbar {
      max-width: 100%;
  }

  .hamburger {
      display: block;
  }


  .nav-menu {
      position: fixed;
      left: -100%;
      top: 90px;
      flex-direction: column;
      background-color: black;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      z-index: 999;
      transition: .3s;
  }

  .nav-menu.active {
      left: 0;
      top: 56px;
  }

  .nav-desk {
      margin: 1.5rem 0;
  }



  .dropdown-menu {
      visibility: hidden;
  }

  .dropdown-mobile {
      display: none;
  }
}

/* navbar end */


.texttransparent{
    text-shadow: -1px -1px 0 #0d0d0d38, 1px -1px 0 #0d0d0d38, -1px 1px 0 #0d0d0d38, 1px 1px 0 #0d0d0d38;
}


/* cards leader */


.cardBox:hover .card {
  transform: rotateY( 180deg);
}


.card {
  background: #F6F8F9;
  cursor: default;
  height: 320px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 6px;
}



.card p {
  margin-bottom: 2px;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  width: 100%;
  border-radius: 6px;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: #D9D9D9;
}

.cardBox:nth-child(3) .card .back {
  background: #D9D9D9;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 310px;
  }
}


.cardBox2:hover .card2 {
  transform: rotateY( 180deg);
}



.card2 {
  background: #D9D9D9;
  cursor: default;
  height: 320px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
  border-radius: 6px;
}


.card2 p{
  margin-bottom: 2px;
}

.card2 .front,
.card2 .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  width: 100%;
  border-radius: 6px;
  padding: 0 15px;
}

.card2 .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card2 .back {
  transform: rotateY( 180deg);
}

.card2 .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card2 .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox2:nth-child(1) .card2 .back {
  background: #F6F8F9;
}
.cardBox2:nth-child(2) .card2 .back {
  background: #F6F8F9;
}


.cardBox2:nth-child(2) .card2 {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}


@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox2 {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card2 {
    height: 285px;
  }
  .cardBox22:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox2 {
    width: 94.5%;
  }
  .card2 {
    height: 310px;
  }
}


/* cards end */

.svgimg{
  fill: #090909;
}

.svgimg:hover {
 fill:#FFBF00;
}